Outputs:
  
  EC2DNSName:
    Description: "Public DNS name of EC2 instance represent IoT Device. You can SSH to EC2 instance using this DNS name"
    Value !GetAtt MyInstance.PublicDnsName

  EC2KeyPairLocation:
    Description: "S3 bucket stores EC2 Key Pair for SSH. Key pair name is myEC2KeyPair"
    value: !GetAtt S3Bucket.Arn

  LambdaFunctions:
    Description: "The Lambda function create IoT Thing and certs"
    Value: !GetAtt MyLambdaFunction.Arn